@media (min-width: 550px) {
    :root {/*for all page*/
      --fs-base: 0.9rem;
    }
    .blog-card {
      display: grid;
      grid-template-columns: 3fr 4fr;/*colums grid ==*/
      gap: 20px;
    }
    .blog-card-banner {
      overflow: hidden;
      border-radius: 5px;
    }
    .blog-banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media (min-width: 650px) {
    :root {
      --fs-1: 2.25rem;
    }
    .container {
      padding: 0 30px;
    }
    /*=============== HEAD  ===============*/
    .navbar {
      padding: 30px 0;
    }
    /*=============== BLOG  ===============*/
    .blog .h2 {
      position: relative;
      text-align: right;
      padding-right: 2rem;
    }
    .blog .h2::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background: var(--action-primary);
      width: 5px;
      height: 100%;
      border-radius: 5px;
    }
    .blog-text,
    .profile-wrapper {
      display: block;
    }
    .blog-text {
      color: var(--foreground-secondary);
      font-size: var(--fs-4);
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 1rem;
    }
  
    .blog .wrapper-flex {
      display: flex;
      justify-content: start;/*flex and start==> dir rtl*/
      align-items: center;
      gap: 10px;
    }
    .profile-wrapper {
      width: 56px;
      height: 56px;
      background: var(--action-primary);
      padding: 3px;
      border-radius: 50%;
      overflow: hidden;
    }
    .profile-wrapper img {
      border-radius: 50%;
    }
    .blog .wrapper {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  
    /*=============== FOOTER:)  ===============*/
    footer .container {
      padding: var(--py) 30px;
      grid-template-columns: 2fr 1fr 1fr;
    }
  
    footer .wrapper {
      text-align: right;
    }
  
    .footer-text {
      margin: 0;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 800px;
    }
  }
  @media (min-width: 1024px) {
    :root {
      --fs-base: 1rem;
      --fs-1: 3rem;
    }
    .container {
      max-width: 1150px;
    }
    /*=============== HEADER:/ ===============*/
    header .btn-group {
      display: none;
    }
    header .flex-wrapper {
      display: flex;/*Putting elements together in a row*/
      gap: 30px;
    }
    .desktop-nav {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .desktop-nav .nav-link {
      color: var(--foreground-secondary);
      font-weight: 700;
    }
    .desktop-nav .nav-link:hover {
      color: var(--accent);
    }
    .theme-btn-desktop {
      position: relative;/*absolute for baby and relative for father:)*/
      background: var(--background-secondary);
      color: var(--white);
      width: 52px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
    }
  
    .theme-btn-desktop.light {
      background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
    }
  
    .theme-btn-desktop.dark {
      background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
    }
  
    .theme-btn-desktop::before {
      content: "";
      position: absolute;
      background: var(--white);
      width: 21px;
      height: 21px;
      border-radius: 30px;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      box-shadow: 0 2px 10px -2px hsla(0, 0%, 0%, 0.05);
      z-index: 2;
    }
    .theme-btn-desktop.dark::before {
      right: calc(100% - 24px);
    }
    /*=============== MAIN ===============*/
    .main .container {
      display: grid;
      grid-template-columns: 5fr 2fr;
      gap: 60px;
    }
    /*=============== FOOTER ===============*/
    .footer-title {
      font-size: 1.125rem;
    }
    .footer-link {
      margin-bottom: 0.3rem;
    }
  }